<%- include("../partials/header"); %>
    <div class="container mb-5">
        <% if(!noticia._id){%>
            <p class="text-center text-uppercase  my-5 bg-danger p-2 text-white">
              Esta noticia no existe
            </p>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <a href="/" class="btn btn-info btn-block"> <i class="fas fa-arrow-left"></i> Volver</a>
                </div>
              </div>
            </div>
            <%}%>
        <h2 class="text-center my-4 text-capitalize">Actualizar  Noticia</h2>
        <div class="row d-flex justify-content-center ">
            <div class="col-md-10">
                <div class="card card-body">
                  <form action="/editar-noticia/<%=noticia.id%>" method="post" >
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="titulo">Titulo:</label>
                        <input required name="titulo" value="<%=noticia.titulo%>" type="text" class="form-control" id="titulo" placeholder="Escribe el titulo de la noticia">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="subtitulo">Subtitulo:</label>
                        <input required name="subtitulo"  value="<%=noticia.subtitulo%>" type="text" class="form-control" id="subtitulo" placeholder="Subtitulo de la noticia">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="autor">Autor:</label>
                            <select id="autor" class="form-control"  required name="autor">
                                <option value=""  selected disabled>-- Seleciona un Autor --</option>
                                <% autores.forEach(autor => { %>
                                <option  ><%= autor.nombre %></option>
                                <%}) %>
                            </select>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="categoria">Categoria:</label>
                        <input  required value="<%=noticia.categoria%>" name="categoria" type="text" class="form-control" id="categoria" placeholder="Categoria de la noticia">
                          </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="descripcion">Descripcion:</label>
                        <textarea required class="form-control" rows="3" name="descripcion" id="descripcion" placeholder="Descripción de la noticia...">
                            <%= noticia.descripcion %>
                        </textarea>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="fecha">Fecha:</label>
                            <input  required name="fecha" type="date" value="<%=noticia.fecha %>" class="form-control" id="fecha">
                        </div>
                    </div>
                    <div class="mt-5">
                    <button type="submit" class="btn btn-success btn-block">Actualizar Noticia <i class="fas fa-newspaper"></i> </button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
