<%- include("../partials/header"); %>
<div class="row">
  <% if(!noticia._id){%>
  <p class="text-center text-uppercase mx-auto my-5 bg-primary p-2 text-white">
    Esta noticia no existe
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/" class="btn btn-info btn-block"> Volver</a>
      </div>
    </div>
  </div>
  <% } %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 my-5">
        <div class="card mb-3">
          <img
            class="card-img-top img-fluid"
            src="/imagenes/<%= noticia.imagen %>"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Titulo: <%= noticia.titulo %></h5>
            <p class="card-text">
              <span>Subtitulo: <%=noticia.subtitulo%> </span>
            </p>
            <p class="card-text">Descripción: <%=noticia.descripcion%></p>
            <p class="card-text">
              <small class="font-bold"
                >Fecha publicacion: <%= noticia.fecha %></small
              >
            </p>
            <small class="font-bold">Autor: <%= noticia.autor.nombre%></small>
            <small class="font-bold">Categoria: <%= noticia.categoria%></small>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <a href="/" class="btn btn-success btn-block my-2"
                  ><i class="fas fa-arrow-left"></i> Volver</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
